.form {
    &-control {
        display: block;
        position: relative;
        width: 100%;
        // height: calc(1.5em + 1rem + 2px);
        height: 5.2rem;
        max-height: 5.2rem;
        padding: 0.5rem 0.75rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #12263f;
        background-color: $color_white;
        background-clip: padding-box;
        border: 1px solid #d2ddec;
        border-radius: 0.375rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &::ms-xapnd {
            background-color: transparent;
            border: 0;
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $color_tertiary;
        }
        &:focus {
            color: $color_tertiary;
            background-color: $color_white;
            border-color: $color_secondary;
            outline: 0;
            box-shadow: transparent;
        }
        &:--webkit-input-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder,
        &:-ms-input-placeholder,
        &:placeholder {
            color: $color_form_placeholder;
            opacity: 1;
        }
        &:disabled,
        &[readonly] {
            background-color: $color_white;
            opacity: 1;
        }

        &-file,
        &-range {
            display: block;
            width: 100%;
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -.5rem;
            margin-left: -.5rem;

            > .col,
            > [class*="col-"] {
                padding-right: .5rem;
                padding-left: .5rem;
            }
        }

        input[type="date"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="time"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        &.is--invalid {
            border-color: #e63757;
            &:focus {
                box-shadow: 0 0 0 0.15rem rgba(230, 55, 87, 0.25);
            }
            ~ .form-check-label {
                color: #e63757;
            }
        }
        &-icon {
            position: absolute;
            top: 50%;
            left: calc(100% - 3rem);
            transform: translate(-50%, -50%);
        }
    }
    &-group {
        position: relative;
        margin-bottom: 1.375rem;

        .form-text,
        label,
        input {
            @include typography;
            color: $color_title;
            position: relative;
        }
    }
    &-check {
        input[type="checkbox"] {
            width: 1.5rem;
            height: 1.5rem;
            top: .15rem;

            + label {
                padding-left: 1rem;
            }
        }
        &-input{
            position: absolute;
            margin-top: 0.3rem;
            margin-left: -1.25rem;

            &:disabled ~ .form-check-label,
            [disabled] ~ .form-check-label  {
                color: #95aac9;
            }

            ~ .invalid-tooltip,
            ~ .invalid-feedback {
                display: block;
            }
        }
        &-label {
            margin-bottom: 0;
        }
        &-inline {
            display: inline-flex;
            align-items: center;
            padding-left: 0;
            margin-right: 0.75rem;

            .form-check-input {
                position: static;
                margin-top: 0;
                margin-right: 0.3125rem;
                margin-left: 0;
            }
        }
    }
    &-text {
        display: block;
        margin-top: 0.25rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: $color_links_buttons;
    }
    &-link {
        &.forgot {
            margin-right: -3rem;
            color: $color_links_buttons;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &-invalid {
        &-feedback {
            display: none;
            width: 100%;
            margin-top: 0.25rem;
            font-size: 0.8125rem;
            color: #e63757;
        }
        &-tooltip {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 5;
            display: none;
            max-width: 100%;
            padding: 0.25rem 0.5rem;
            margin-top: 0.1rem;
            font-size: 0.8125rem;
            line-height: 1.5;
            color: #fff;
            background-color: #e63757;
            border-radius: 0.375rem;
        }
    }
    &__password {
        position: relative;
    }
    &.is-invalid {
        ~ .form-invalid-feedback,
        ~ .form-invalid-tooltip {
            display: block;
        }
    }
}
.is-invalid ~ .form-invalid-feedback,
.is-invalid ~ .form-invalid-tooltip,
.was-validated :invalid ~ .form-invalid-feedback,
.was-validated :invalid ~ .form-invalid-tooltip {
    display: block;
}
.was-validated .form-control:invalid {
    border-color: #e63757;
}
.was-validated .form-check-input:invalid ~ .form-check-label {
    color: #e63757;
}
.was-validated .form-check-input:invalid ~ .form-invalid-feedback,
.was-validated .form-check-input:invalid ~ .form-invalid-tooltip {
    display: block;
}