.form {
    &__password {
        position: relative;
    }
    &-control {
        &-icon {
            position: absolute;
            top: 55%;
            left: calc(100% - 1.2rem);
            transform: translate(-50%, -50%);
            opacity: 1;
            transition: opacity .18s ease-out;
            &.is--hidden {
                opacity: 0;
            }

            &.password {
                cursor: pointer;
            }
        }
    }
    &-group {
        position: relative;
        margin-bottom: 1.375rem;

        .form-text,
        label,
        textarea,
        input {
            @include typography;
            color: $color_title;
            position: relative;
        }
    }
    &-check {
        input[type="checkbox"] {
            + label {
                padding-left: 1rem;
            }
        }
    }
}