//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. Card
//   4. Progress bar
//   5. Footer

// 1. Global
// ---------

$global-font-size: 62.5%;

$global-page-width: rem-calc(1818);
$global-content-width: rem-calc(1400);
$global-lineheight: 1.5;
$body-background: $color_white;
$body-font-color: $color_black;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$primary-color: $color_primary;

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  supermini: 400px,
  mini: 480px,
  medium: 640px,
  tablet: 760px,
  med-large: 960px,
  large: 1024px,
  xlarge: 1280px,
  xxlarge: 1540px,
  xxxlarge: 1920px,
  xxxxlarge: 2560px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

// 3. Card
// --------

$card-background: $color_white;
$card-font-color: $body-font-color;
$card-divider-background: $color_lightgrey;
$card-border: 1px solid $color_lightgrey;
$card-shadow: none;
$card-border-radius: $global-radius;
$card-padding: $global-padding;
$card-margin-bottom: $global-margin;

// 4. Progress Bar
// ----------------

$progress-height: 1rem;
$progress-background: $color_lightergrey;
$progress-margin-bottom: $global-margin;
$progress-meter-background: $primary-color;
$progress-radius: $global-radius;

// 5. Footer
// -----------------
$footer-height: 5rem;
