/*****************************/
/********** colors ***********/
/*****************************/

$color_background: #fff;
$color-background-card: #fff;
$color_background-inputs: #fff;
$color_topbar: #fff;
$color_buttons: #4d4d4d;
$color_primary: #e57c2c;
$color_warning: #cc0000;
$color_success: #007700;
$color_white: #fff;
$color_black: #000;
$color_lightgrey: rgba($color_white, 0.5);
$color_lightergrey: rgba($color_white, 0.25);

/* Add reusable animations*/

/* Accomodate iphone 11+*/
$iphone-safespace: rem-calc(44);
