<div class="container authentication">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 order-md-1 mb-5 mb-md-0">
      <div class="text-center">
        <img
          src="assets/img/illustrations/happiness.svg"
          alt="Sign In Illustration"
          class="img-fluid"
        />
      </div>
    </div>
    <div
      class="col-12 col-md-5 col-xl-4 offset-md-1 offset-xl-2 order-md-2 my-5"
    >
      <span class="authentication__header">
        <h1>Sign In</h1>
        <p>Gain access to your Dashboard</p>
      </span>
      <form class="authentication__form" [formGroup]="signinForm" (ngSubmit)="signIn()">
        <div class="form-group">
          <label for="signin-email">Email Address</label>
          <input
            aria-label="Email sign in"
            id="signin-email"
            type="email"
            name="email"
            class="form-control"
            formControlName="username"
            placeholder="name@address.com"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="form-invalid-feedback"  [ngClass]="{'form.is-invalid': submitted && f.username.errors}">
            <div *ngIf="f.username.errors.required">Email address is required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="password">Password</label>
            </div>
            <div class="col-auto">
              <a [routerLink]="['/forgot-password']" class="form-text form-link small"> Forgot password? </a>
            </div>
          </div>
          <!-- Input group -->
          <div class="">
            <input
              aria_label="password" id="password" formControlName="password"
              type="password"
              class="form-control form-control-appended"
              placeholder="Enter your password"
              [ngClass]="{ 'form.is-invalid': submitted && f.password.errors }"
            />
            <!-- Icon -->
            <div class="form-control-icon">
              <span class="">
                <i-feather class="icons" name="eye"></i-feather>
              </span>
            </div>

          </div>
          <div *ngIf="submitted && f.password.errors" class="form-invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group form-check">
          <input aria_label="Remember me" type="checkbox" formControlName="remember_me" id="rememberMe"
              class="form-check-input" />
            <label for="rememberMe" class="form-check-label">Remember Me</label>
        </div>
        <button [attr.disabled]="loading ? true: null" type="submit" class="btn btn-lg btn-block btn-primary mb-3 lift">
          <span class="spark-text has--loading" [ngClass]="{'has--loading': loading}">
            {{ loading ? 'Signing In' : 'Sign In' }}
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
