@import "../../styles/mixins/button";
@import "../../styles/vars";
@import "../../styles/mixins/typography";
@import "../../styles/settings";

.spark-dynamic-forms { 
    &__bulk {
        &-wrapper {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1.5rem;
        }
        &-btn {
            // todo: change the font to read as a variable for ease of maintenance
            // todo: change all primary color buttons to be of the same size (ease of maintenance)
            @include button($color:primary, $size: small);
            line-height: 2.25rem;
            font-family: "Avenir-Heavy", Helvetica, Arial, serif;
        }
    }
}