.page-item {
    cursor: pointer;
}

.item-count {
    font-family: "MuseoSans-500", Helvetica, Arial, serif;
    font-size: 11px;
}

.page-link {
    font-family: "MuseoSans-500", Helvetica, Arial, serif;
    padding-left: 10px;
    padding-right: 10px;
}