<nav aria-label="Page navigation">
        <ul *ngIf="isPaginationActive" class="pagination">
                <button (click)="scrollPage(-1)" [disabled]="!hasPrev" class="btn page-link">Previous</button>
                <li class="page-item {{selectedPage==1?'active':''}}"><button (click)="selectPage(1)"
                                class="btn page-link  ">1</button></li>
                <button *ngIf="moreAtStart" [disabled]="hasPrev" class="btn page-link">...</button>

                <li *ngFor="let page of pages" class="page-item {{selectedPage==page?'active':''}}"><a class="page-link"
                                (click)="selectPage(page)">{{page}}</a>
                </li>

                <li class="page-item"><button *ngIf="moreAtEnd" class="btn page-link">...</button></li>
                <li class="page-item {{selectedPage==totalPages?'active':''}}"><button (click)="selectPage(totalPages)"
                                class="btn page-link  ">{{totalPages}}</button></li>
                <li class="page-item"><button (click)="scrollPage(1)" [disabled]="!hasNext"
                                class="btn page-link">Next</button>
                </li>

        </ul>

        <span class="item-count">
                {{totalItems}} Items
        </span>


</nav>