<div class="container">
  <div class="row">
    <!-- todo: add filters -->
    <div class="search-section spark-dynamic-forms__bulk-wrapper mb-3">
      <form [formGroup]="searchForm" class="form-inline">
        <input name="searchTableInput" class="form-control mr-2 search-input" aria-label="Table list"
          formControlName="search" (ngModelChange)="liveTableSearch($event)" type="text"
          placeholder="{{!loading ? 'Search item' : 'Searching...'}}" />

        <button type="button" (click)="clearLiveTableSearch()" class="btn btn-light btn-sm mr-3"><i
            class="glyphicon glyphicon-remove"></i>Clear</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th *ngIf="showNumbering">#</th>
          <th *ngFor="let title of tableHeaders;let i = index">
            <app-mytd [columnConfig]="title" [isHeaderCell]=true></app-mytd>
          </th>
        </thead>
        <tbody *ngIf="results.length && !loading">
          <tr *ngFor="let row of results;let j=index; ">
            <th *ngIf="showNumbering">{{(j+1)+(page_size*(page-1))}}</th>
            <td *ngFor="let header of tableHeaders; let j = index;">
              <app-mytd [columnConfig]="header" [rowData]="row"></app-mytd>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="loading">
          <tr *ngFor="let value of tableData">
            <th *ngIf="showNumbering"><span class="linear-background"></span></th>
            <td *ngFor="let value of tableHeaders">
              <span class="linear-background"></span>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="results.length < 1 && !loading">
          <td class="pt-4">No data available</td>
        </tbody>
      </table>
    </div>
    <app-mypagination [selectedPage]="page" [pageSize]="page_size" (onPageSelect)="onPageSelect($event)"
      [resultsMeta]="resultsMeta" *ngIf="!loading"></app-mypagination>
  </div>
</div>