.linear {
    &-background {
        position: relative;
        overflow: hidden;
        display: block;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 1000px 10px;
        height: 30px;
        border-radius: 3px;
    }
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -46px 0;
    }
    100% {
        background-position: 46px 0;
    }
}