@import "../../styles/mixins/button";
@import "../../styles/vars";
@import "../../styles/mixins/typography";
@import "../../styles/settings";

.linear {
    &-background {
        position: relative;
        overflow: hidden;
        display: block;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 1000px 10px;
        height: 30px;
        border-radius: 3px;
    }
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -46px 0;
    }
    100% {
        background-position: 46px 0;
    }
}

table {
    margin-left: -15px;
    width: 95%;
}

thead {
    line-height: 40px;
    min-height: 40px;
    height: 40px;
    background-color: rgba(178, 177, 177, 1); 
    color: rgba(83, 82, 82, 1);
}

tr {
    line-height: 30px;
    min-height: 30px;
    height: 30px;
    background-color: rgb(245, 245, 245, 0.4);
    font-family: "Avenir-Heavy", Helvetica, Arial, serif;
    font-size: 13px;
 }

 th {
    font-family: "Avenir-Heavy", Helvetica, Arial, serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    white-space: nowrap;
 }

 td {
    font-family: "MuseoSans-500", Helvetica, Arial, serif;
    font-size: 13px;
    color: rgba(112, 112, 112, 1);
 }

 .search-section {
     background-color: rgba(112, 112, 112, 0.2);
 }

 .search-box {
    font-family: "MuseoSans-500", Helvetica, Arial, serif;
    font-size: 13px;
    font-weight: 400;
    height: 35px;
    border: none;
    border-radius: 5px;
    width: 300px;
 }

 .btn-search-clear {
     width: 70% !important;
     height: 35px;
     line-height: 0px !important;
     margin-left: 90px;
     margin-top: 15px;
 }

 .spark-dynamic-forms { 

    &__button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 4rem;
        margin-left: 0 !important;
    }

    
    &__bulk {
        &-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 1rem;
            max-width: 95%;
        }

        &-btn {
            @include button($color:primary,$size: small);
            font-family: "Avenir-Heavy", Helvetica, Arial, serif;
            margin-bottom: 15px !important;

        }
    }
}

.table-wrapper {
    width: 95%;
}