.linear {
    &-background {
        position: relative;
        overflow: hidden;
        display: block;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 1000px 10px;
        height: 30px;
        border-radius: 3px;
    }
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -46px 0;
    }
    100% {
        background-position: 46px 0;
    }
}

thead {
    line-height: 40px;
    min-height: 40px;
    height: 40px;
    background-color: rgba(178, 177, 177, 1); 
    color: rgba(83, 82, 82, 1);
}

tr {
    line-height: 30px;
    min-height: 30px;
    height: 30px;
    background-color: whitesmoke;
 }

 th {
    font-family: "Avenir-Heavy", Helvetica, Arial, serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    white-space: nowrap;
 }

 td {
    font-family: "MuseoSans-500", Helvetica, Arial, serif;
    font-size: 13px;
    color: rgba(112, 112, 112, 1);
 }