<div class="container">
  <form class="form-group" [formGroup]="add_item_form" (ngSubmit)="submitItem()">
    <app-card>
      <div class="row">
        <div class="col-md-4">

          <!--Item -->
          <!-- Field -->
          <label for="item_name" class="form-label">Item Name</label>
          <select class="form-control form-control-lg opt-value" formControlName="item_config" *ngIf="!item_loading">
            <option *ngFor="let item of items" value="{{item.id}}" required>{{item.type_name}}</option>
          </select>
          <!-- Loader -->
          <span class="linear-background" *ngIf="item_loading"></span>
          <!-- Errors -->
          <div
            *ngIf="add_item_form.controls['item_config'].invalid && (add_item_form.controls['item_config'].dirty || add_item_form.controls['item_config'].touched)"
            class="alert">
            <div *ngIf="add_item_form.controls['item_config'].errors.required">
              <span class="text-danger opt-value">
                Field is required <br>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <!-- Stock -->
          <!-- Field -->
          <label for="item_name" class="form-label">Warehouse / Stockroom</label>
          <select class="form-control form-control-lg opt-value" formControlName="store" *ngIf="!stock_loading">
            <option *ngFor="let store of stores" value="{{store.id}}" required>{{store.name}}</option>
          </select>

          <!-- Loader -->
          <span class="linear-background" *ngIf="stock_loading"></span>

          <!--Validation Errors -->
          <div
            *ngIf="add_item_form.controls['store'].invalid && (add_item_form.controls['store'].dirty || add_item_form.controls['store'].touched)"
            class="alert">
            <div *ngIf="add_item_form.controls['store'].errors.required">
              <span class="text-danger opt-value">
                Field is required <br>
              </span>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <!-- Purchase Order -->
          <!-- Field -->
          <label for="item_name" class="form-label">Purchase Order</label>
          <input class="form-control form-control-lg opt-value" formControlName="purchase_order" required />

          <!-- Validation Errors -->
          <div
            *ngIf="add_item_form.controls['store'].invalid && (add_item_form.controls['store'].dirty || add_item_form.controls['store'].touched)"
            class="alert">
            <div *ngIf="add_item_form.controls['store'].errors.required">
              <span class="text-danger opt-value">
                Field is required <br>
              </span>
            </div>
          </div>

        </div>
      </div>
        <div class="row">

          <div class="col-md-4 text-center">
            <!-- Serialized Check Box -->
            <div class="m-auto">

              <label for="serials" class="form-label">Serialized? </label>
              <input type="checkbox" class="form-control form-control-lg" [(ngModel)]="check_box"
                [ngModelOptions]="{standalone: true}" />
            </div>
          </div>
          <div class="col-md-4">
            <!-- Purchase Order -->
            <!-- Field -->
            <label for="item_name" class="form-label">Box</label>
            <select class="form-control form-control-lg opt-value" formControlName="box" *ngIf="!box_loading">
              <option>No Box selected</option>
              <option *ngFor="let box_ of boxes" value="{{box_.id}}">{{box_.name}}</option>
            </select>

            <span class="linear-background" *ngIf="box_loading"></span>
          </div>
        </div>
        <div class="row" *ngIf='check_box == true'>

          <div class="col-md-12">
            <label for="serials" class="form-label">Serial</label>
            <textarea class="form-control form-control-lg opt-value" formControlName="serial">

          </textarea>
            <div
              *ngIf="(add_item_form.controls['serial'].dirty || add_item_form.controls['serial'].touched) && (check_box == true && add_item_form.value.serial == '')"
              class="alert">
              <div>
                <span class="text-danger opt-value">
                  Field is required <br>
                </span>
              </div>
            </div>
          
        </div>


 </div>
    </app-card>
    <div class="spark-dynamic-forms__button-wrapper">
      <button type="button" class="btn btn btn-sm mb-3 lift spark-dynamic-forms__clear"
        (click)="clearForm()">Clear</button>
      <button *ngIf="newEntry == true" type="submit" class="btn btn-primary mb-3 lift spark-dynamic-forms__submit"
        [disabled]="!add_item_form.valid">
        <span class="spark-text">Add Item
          <!-- {{isLoading?'Loading...': formAction+' '+submitButtonText}} -->
        </span>
      </button>
      <button *ngIf="newEntry == false" type="submit" class="btn btn-primary mb-3 lift spark-dynamic-forms__submit"
      [disabled]="!add_item_form.valid">
      <span class="spark-text">Edit Item
        <!-- {{isLoading?'Loading...': formAction+' '+submitButtonText}} -->
      </span>
    </button>

    </div>
  </form>


</div>
