@import "../../styles/mixins/typography";
@import "../../styles/vars";
@import "../../styles/settings";

$card-header-color: #f5f5f5;
$color-borders: rgba(0, 0, 0, 0.125);
// .card {
//     background-color: $card-header-color;
//     height: auto;
//     width: auto;
//     border-radius: .5rem;

//     &__header {
//         position: relative;
//         @include typography(h5);
//         color: $color_title;
//         padding: 2.5rem 9.5rem;
//         height: 7.2rem;

//         &:after {
//             content: "";
//             position: absolute;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             border-bottom: 1px solid $color-borders;
//         }

//         &.has--dropdown {
//             &:after {
//                 display: none;
//             }
//         }

//         &-title {
//             font-size: 15px;
//             line-height: inherit;
//             font-weight: bold;
//             margin-bottom: 0;
//             font-family: "Avenir-Heavy", Helvetica, Arial, serif;
//         }
//     }

//     &__body {
//         position: relative;
//         // padding: 1rem 3rem;
//         padding: 3.2rem 9.5rem; //check the dynamic form padding if changed
//     }
// }

// .nav {
//     &-tabs {
        
//         border-bottom: transparent;

//         &:after {
//             content: "";
//             position: absolute;
//             bottom: 0;
//             left: 0;
//             right: 0;
//             border-bottom: 1px solid $color-borders;
//         }
//     }
//     &-item {
//         height: 4.7rem;
//         margin-top: .1rem;
//         position: relative;
//     }
//     &-transparent {
//         position: absolute;
//         width: 100%;
//         background-color: $card-header-color;
//         height: .4rem;
//         bottom: -.2rem;
//         z-index: 1;
//         opacity: 0;
//         pointer-events: none;
//         transition: opacity .18s ease-in;

//         &.active {
//             opacity: 1;
//         }
//     }
//     &-link {
//         height: 100%;
//         background: transparent;
//         color: $color_title;
//         border-color: $color-borders;
//         border-radius: .5rem;
//         font-size: 1.4rem;
//         text-align: center;
//         padding-top: 1rem;

//         a {
//             color: inherit;
//         }

//         &.active {
//             background-color: transparent;
//             border-color: $color-borders;
//             border-bottom: none;
//         }

//         &:not(.active) {
//             border: none;
//             &:hover {
//                 border: none;
//                 background: transparent;
//             }
//         }
//     }
// }

.card {
    .card-header {
        height: 4rem;
        padding: 1.25rem 1.25rem;
    }
    .card-body {
        margin: 2rem;
    }
}