<div class="row">
    <div class="col-sm-9">
        <a [routerLink]="['/configs/item-config']" href="#" class="">Add Item</a>

    </div>
    <div class="col-sm-3">
    </div>
</div>
<div class="row">
    <app-tables [listTypeUrl]="url" [page_size]=4 (actionsEvent)="handleActions($event)" [headers]="headers">

    </app-tables>
</div>

<!-- {
    "id": 20,
    "type_name": "mwangi micha",
    "created": "2021-02-28T16:36:04.847466+03:00",
    "modified": "2021-02-28T22:01:32.452668+03:00",
    "name": "Vue",
    "description": "Sruff",
    "has_serial": true,
    "type": 16
}, -->

<!-- {
    "id": 11,
    "items_details": [
        {
            "id": 1,
            "item_name": "Vue",
            "type": "16",
            "type_name": "mwangi micha",
            "created": "2021-03-01T11:10:33.182865+03:00",
            "modified": "2021-03-01T11:10:33.182907+03:00",
            "count": 1,
            "box_config": 11,
            "item_config": 20
        }
    ],
    "created": "2021-02-28T16:09:04.793109+03:00",
    "modified": "2021-02-28T16:09:04.793165+03:00",
    "name": "awaw",
    "description": "aw"
} -->