<div class="row">
    <div class="col-sm-12">
        <app-add-button [url]="'/configs/item-type'"></app-add-button>
    </div>
</div>

<div class="row">

    <!-- side menu component @norman -->
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-title">
                Configurations
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Product Configurations
                <span class="badge badge-pill"><i class="fas fa-chevron-right right-icon-config"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Kit Configurations
                <span class="badge badge-pill"><i class="fas fa-chevron-right right-icon-config"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Box Configurations
                <span class="badge badge-pill"><i class="fas fa-chevron-right right-icon-config"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Item Configurations
                <span class="badge badge-pill"><i class="fas fa-chevron-right right-icon-config"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Item Type Configuration
                <span class="badge badge-pill"><i class="fas fa-chevron-right right-icon-config"></i></span>
            </li>
            <li class="list-group-item list-group-item-last d-flex justify-content-between align-items-center">
                User Role Configuration
                <span class="badge badge-pill"><i class="fas fa-chevron-right right-icon-config"></i></span>
            </li>
        </ul>
    </div>
    <!-- side menu component @norman -->

    <div class="col-sm-9">
        <app-tables [listTypeUrl]="url" (actionsEvent)="handleActions($event)" [headers]="headers"
            [tableFilters]="tableFilters">
        </app-tables>
    </div>
</div>


<app-confirm-dialog></app-confirm-dialog>