
<app-selected-filters [selectedFiltersOptions]="selectedFiltersOptions" (searchableFilterOptions)="searchFilters($event)"></app-selected-filters>
        
<div *ngIf="isInDropdown" class="dropdown">
    <div class="dropdown-menu">
        <app-myform [formItems]="formItems" [url]="url"
            [isValidationOnly]=true (onValidatedData)="onValidatedData($event)" submitButtonText="Item Type"
            [formGroupOrder]="formGroupOrder">
        </app-myform>
    </div>
</div>

<div *ngIf="!isInDropdown" id="demo" class="collapse">
    <app-myform [formItems]="formItems" [url]="url"
        [isValidationOnly]=true (onValidatedData)="onValidatedData($event)" submitButtonText="Item Type"
        [formGroupOrder]="formGroupOrder">
    </app-myform>
</div>