<div class="row">
    <div class="col-sm-12">
        <app-add-button [url]="'/configs/item-config'"></app-add-button>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <!-- enable the dropdown filters to show them -->
        <!-- <app-dropdown-filters [url]="listTypeUrl" [filterUrl]="listTypeUrl"  [formItems]="formItems" [formGroupOrder]="tableFiltersCollapsible"></app-dropdown-filters> -->
        <app-side-menu [title]="sideMenuTitle" [lists]="sideMenuLists" [active]="'Item Configuration'"></app-side-menu>
    </div>
    <div class="col-sm-9">
        <app-tables [listTypeUrl]="url" (actionsEvent)="handleActions($event)" [headers]="headers"
            [tableFilters]="tableFiltersCollapsible" [filterFormItems]="formItems" [hasSideMenu]="true">
        </app-tables>
    </div>
</div>


<app-confirm-dialog></app-confirm-dialog>