@import "../../styles/mixins/button";
@import "../../styles/vars";
@import "../../styles/mixins/typography";
@import "../../styles/settings";

.spark-dynamic-forms { 
    &__button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 4rem;
        margin-left: 0 !important;
    }

    &__clear {
        @include button($size: small);
        font-family: "Avenir-Heavy", Helvetica, Arial, serif;
        margin-right: 3rem;
        padding-left: 20px;
        padding-right: 20px;
    }   

    &__submit {
        @include button($color:primary, $size: small);
        font-family: "Avenir-Heavy", Helvetica, Arial, serif;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__bulk {
        &-wrapper {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1rem;
        }
        &-btn {
            @include button($size: small);
            font-family: "Avenir-Heavy", Helvetica, Arial, serif;
            margin-bottom: 15px !important;

        }
    }
}