<div class="container">
    <form class="" [formGroup]="formGroup" (ngSubmit)="dataReceived()">
        <span *ngFor="let error of detailErrors" class="text-danger">
            {{error}} <br>
        </span>
        <div>
            <div *ngFor="let item of formGroupOrder;let i=index;">
                <div class="row">
                    <div *ngFor="let field of item;let j=index;" class="col-sm-{{12/item.length}}">
                        <app-myinput [formErrors]="formErrors" [data]="getDescriptionObject(field)" [form]="formGroup"
                            formControName="{{field}}">
                        </app-myinput>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="spark-dynamic-forms__button-wrapper">
            <button type="button" (click)="resetForm()"
                class="btn btn-light  btn-sm mb-3 lift spark-dynamic-forms__clear">Clear</button>
            <button type="submit" class="btn btn-primary mb-3 lift spark-dynamic-forms__submit">
                <span>
                    {{isLoading?'Loading...': 'Add Options'}}
                </span>
            </button>
        </div>
    </form>
</div>