.ng-invalid .ng-touched{
    border: 0.1em solid red;
}

.ng-touched .ng-valid {
    border: 0.1em solid green;
}

.form-label {
    font-family: "Avenir-Heavy", Helvetica, Arial, serif;
    font-size: 14px;
}

.opt-value {
    font-family: "Museo-Sans", Helvetica, Arial, serif;
    font-size: 13px;
}