$menu-font-size: 0.875rem;
$menu-font-family: "Avenir-Heavy", Helvetica, Arial, serif;
$primary-menu-color: #036FB6;
$secondary-menu-color: #535252;
$menu-background-color: #ffffff; 
$menu-background-shadow-color: 0px 3px 6px rgba(0, 0, 0, 0.161);

.navbar-logo {
    width: 5rem;
}

.navbar {
    background-color:$menu-background-color;
    box-shadow: $menu-background-shadow-color;
    padding:  0.6rem 0.6rem;
}

.dropdown-divider {
    margin: 0.3rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.dropdown-menu {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    font-family: $menu-font-family;
    
    .dropdown-item {
        color:$secondary-menu-color;
        font-size: $menu-font-size;
    }

    .dropdown-sub-menu {
        cursor: pointer;
        margin-top: 0.5rem;
        position: relative;
        font-family: $menu-font-family;

        &:hover {
            > .dropdown-menu {
                display: block;
            }
        }
        .dropdown-item {
            &::after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: $secondary-menu-color;
                margin-top: 5px;
                margin-right: -10px;
            }
        }

        .dropdown-menu {
            width: 12rem;
            top: 0;
            left: 100%;
            top: 0;
            left: 100%;
            margin-top: -0.55rem;
            margin-left: -0.8px;
            border-radius: 0 6px 6px 6px;

            :hover {
                background-color: #e9ecef;
            }
            
            li {
                padding: 0.25rem 1.5rem;
                font-size:  $menu-font-size;
                clear: both;
                a {
                    color: $secondary-menu-color;
                    text-decoration: none;
                }
            }
        }
    }

}

.nav-link {
    font-family: $menu-font-family;
    font-size: $menu-font-size;
    min-height: 24px;
    white-space: nowrap;
}

.user-profile {
    color:$primary-menu-color;
}