$menu-font-size: 0.875rem;
$menu-font-family: "Avenir-Heavy", Helvetica, Arial, serif;
$primary-menu-color: #036FB6;
$secondary-menu-color: #535252;
$menu-background-color: #ffffff; 
$menu-background-shadow-color: 0px 3px 6px rgba(0, 0, 0, 0.161);

.navbar-logo {
    width: 5rem;
}

.navbar {
    background-color:$menu-background-color;
    box-shadow: $menu-background-shadow-color;
}

.dropdown-menu {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    font-family: $menu-font-family;
    
    .dropdown-item {
        color:$secondary-menu-color;
        font-size: $menu-font-size;
    }

    .dropdown-submenu {
        cursor: pointer;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        position: relative;
        font-family: $menu-font-family;
    
        ::after {
            transform: rotate(-90deg);
            position: absolute;
            right: 6px;
            top: .8em;
        }
        .dropdown-menu {
            top: 0;
            left: 100%;
        }
    }
}

.nav-link {
    font-family: $menu-font-family;
    font-size: $menu-font-size;
    min-height: 24px;
    white-space: nowrap;
}

.user-profile {
    color:$primary-menu-color;
}