<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMainMenu"
            aria-controls="navbarTogglerMainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand">
            <a [routerLink]="['/home']">
                <img class="navbar-logo" src="../../../../assets/img/logo/spark-logo-trans-bg.png">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarTogglerMainMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pr-3 active">
                    <a class="nav-link" [routerLink]="['/']">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pr-3 dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/accounts']">Accounts</a>
                        <a class="dropdown-item" [routerLink]="['/suppliers']">Suppliers</a>
                        <a class="dropdown-item" [routerLink]="['/warehouse/list']">Warehouses</a>
                        <a class="dropdown-item" [routerLink]="['/stockroom/list']">Stockrooms</a>
                        <div class="dropdown-divider"></div>
                <li class="dropdown-sub-menu">
                    <a class="dropdown-item" href="#">Configurations</a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/configs/list-item-type']">Item Type</a></li>
                        <li><a [routerLink]="['/configs/list-item-configs']">Item</a></li>
                        <li><a [routerLink]="['/configs/list-box-config']">Box</a></li>
                        <li><a [routerLink]="['/configs/list-kit-config']">Kit</a></li>
                        <li><a [routerLink]="['/configs/list-pay-go-providers']">Pay Go
                                Providers</a></li>
                        <li><a [routerLink]="['/configs/list-price-groups']">Price Group</a></li>
                        <li><a [routerLink]="['/configs/list-product-configs']">Product</a></li>

                    </ul>
                </li>
        </div>
        </li>
        <li class="nav-item pr-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Inventory
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Products</a>
                <a class="dropdown-item" [routerLink]="['/list-boxes']">Boxes</a>
                <a class="dropdown-item" [routerLink]="['/inventory/list']">Items</a>
                <a class="dropdown-item" [routerLink]="['/products/list']">Products</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/inventory/move']">Move Stock</a>
            </div>
        </li>
        <li class="nav-item pr-3">
            <a class="nav-link" [routerLink]="['/customers/list']">Customers</a>
        </li>
        <li class="nav-item pr-3">
            <a class="nav-link disabled" href="#">Payments</a>
        </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <li class="nav-item dropdown form-inline my-2 my-lg-0 user-profile-wrapper">
                <a class="nav-link dropdown-toggle user-profile" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a (click)="signOut()" class="dropdown-item" href="#">Sign out</a>
                </div>
            </li>
        </div>
    </div>
    </div>
</nav>