<div *ngIf="!isActions" [ngSwitch]="valueType">
    <div *ngSwitchCase="'array'">
        <ul>
            <li *ngFor="let item of displayValue">{{item}}</li>
        </ul>
    </div>
    <div *ngSwitchCase="'boolean'">
        <input type="checkbox" [checked]="displayValue" onclick="return false;">
    </div>
    <div *ngSwitchDefault>{{displayValue}}</div>
</div>
<div class="row ml-2" *ngIf="isActions">
    <div class="col-sm-{{displayValue/2}}" *ngFor="let val of displayValue" [ngSwitch]="val">
        <i (click)="emitAction(val)" *ngSwitchCase="'edit'" class="fa fa-edit" aria-hidden="true"
            style="color: #DD9008;"></i> &nbsp;
        <i (click)="emitAction(val)" *ngSwitchCase="'delete'" class="fa fa-trash" aria-hidden="true"
            style="color: #D91A4E"></i>
    </div>


</div>