<div *ngIf="!isActions" [ngSwitch]="valueType">
    <div *ngSwitchCase="'array'">
        <ul>
            <li *ngFor="let item of displayValue">{{item}}</li>
        </ul>
    </div>
    <div *ngSwitchCase="'boolean'">
        <input type="checkbox" [checked]="displayValue" onclick="return false;">
    </div>
    <span *ngSwitchDefault>{{displayValue}}</span>
</div>
<div class="row ml-2" *ngIf="isActions">
    <div *ngFor="let val of displayValue" [ngSwitch]="val">
        <fa-icon (click)="emitAction(val)" *ngSwitchCase="'edit'" [icon]="faEdit" class="edit">
        </fa-icon>
        <fa-icon (click)="emitAction(val)" *ngSwitchCase="'delete'" [icon]="faTrashAlt" class="delete"></fa-icon>

        <fa-icon (click)="emitAction(val)" *ngSwitchCase="'view'" [icon]="faEyeAlt" class="view" style="margin-right:10px;"></fa-icon>
    </div>
</div>