<div *ngIf="message !== null" class="modal fade" id="{{modalId}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <div class="confirm__modal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="confirm__message">{{message}}</span>
                <div class="confirm__buttons">
                    <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary confirm" data-dismiss="modal" (click)="confirm()">{{confirmBtnName}}</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>